
body {
  margin: 1em 1em 1em 1em;
  width: 50em;
  font-family:Constantina,Georgia,'Nimbus Roman No9 L',serif;
  font-size: 12pt;
}

a,
a:visited {
  color: #3D477B;
}

a:hover {
  color: #888888;
}

#main h1 {
  font-family:'arial',sans-serif;
  font-size: 20pt;
  color: #777777;
  border-bottom: 1px solid #bbbbbb;
  padding-top: 10px;
  margin-bottom: -5px;
}

#leftcontent {
  width: 30em;
}

.header {
  font-family: 'arial', sans-serif;
  font-size : 30pt;
  color: #444444;
  border-top: 1px solid #bbbbbb;
  padding-left: 0.25em;
  /*border-bottom: 2px solid #4686c2;*/
  background : #eeeeee;
}

div#wrapper {
  margin-left: auto;
  margin-right: auto;
}

div#headerpic {
  width: 50em;
  height: 10em;
  border: 0;
  background-image: url('navbar_cropped.jpg');
}

div#menubar {
  width: 30em;

  margin: 0px;
  padding: 0px;
  margin-top: -1em;
  border-bottom: 1px solid #bbbbbb;

  clear: both;
}

div#menubar table {
}

div#menubar table td {
  text-align: center;
  padding-top: 0px;
  padding-right: 0px;
  font-size: 10pt;
  font-family: arial, sans-serif;
}

div#menubar table td a, 
div#menubar table td a:visited,
div#menubar table td a:hover {
  text-decoration: none; /* no underline */
}

img#mugshot {
  float:right;
  width: 25%;
  margin-top:-1em;
  padding-right: 2em;
}

ul.res {
  width: 60%;
}

ul.res li:first-child {
  margin-top: -1em;
}

ul.pubs li{
  padding-bottom: 1em;
}

.hfill {
  float: right;
}

ol#steps {
  margin-left: 1em;
  font: italic 4em Georgia, Times, serif;
  color: #ccc;
}

ol#steps li div.step {
  padding-bottom: 2em;
  font: normal 0.25em sans-serif;
  color: #444;
}
